body {
  background: #171010;
  color: #e2d0d0;
}

html {
  font-size: min(calc(50% + 1.5vw), 20px);
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-button {
}

::-webkit-scrollbar-thumb {
  background: #d8c0c0;
}
::-webkit-scrollbar-track {
  background: #423f3e;
}
::-webkit-scrollbar-track-piece {
}

::-webkit-scrollbar-corner {
  background: #423f3e;
}
