body {
  background: #252a34;
  color: #eaeaea;
}

html {
  font-size: min(calc(50% + 1.5vw), 20px);
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-thumb {
  background: #b3b3b3;
}
::-webkit-scrollbar-track {
  background: #3f485a;
}

::-webkit-scrollbar-corner {
  background: #3f485a;
}
